$textColor2: #B7C8D9;
$headerColor: #FFF;
$subscribeBackgroundColor: #F3F3F3;
$subscribeBorderColor: #A4A4A4;
$backgroundColor: #F0F0F0;
$subscribeColor: #000;
$textColor: #343638;
$backgroundSubscribecolor: #E8E8E8;
$Color3: #9E9E9E;
$font: 'Open+Sans', Helvetica,Arial, sans-serif;