$mainColor: #f85e54;
$borderColor: #cfd8dd;
$imgBorderColor: #fff;
$articleTextColor: #bdbdbb;
$articleTitleColor: #5d7e8d;
$articleMainColor: #717581;
$font: 'Roboto Slab', serif;
$bacgroundColor: #efefef;
