$mainColor: #1FBCD3;
$borderColor: #383838;
$imgBorderColor: #EFEFEF;
$articleTextColor: #2f8173;
$articleTitleColor: #098a8f;
$articleMainColor: #949b9e;
$font: 'Roboto', sans-serif;
$bacgroundColor: #fff;